<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="feature2.css">
    <title>Pregnancy Helper App</title>
</head>
<body>
    <header>
        <h1>Pregnancy Helper App</h1>
        <div class="group">
            <a href="/home_copy.html">Home</a>
            <a href="/aboutUs.html">About Us</a>
            <a href="">Help</a>
            <a href="">Account</a>
        </div>
    </header>

</body>
</html>